<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Articles page</h1>
    <div style="color: blue;
    width: 50px;">
        <% for( let art of AllArticles) { %>
        <h1 style="color: red;"> <%= art.title%> </h1>
        <h5>  <%=art.body %></h5>
        <br>
        <% } %>

    </div>
</body>
</html>